.person {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: 3rem var(--grid-gap);
  padding: 4rem var(--padding);
  align-items: center;
  .person-content {
    grid-column: span 5;
    @media (max-width: 1024px) {
      grid-column: 1 / -1;
    }
  }
  .person-media {
    grid-column: 7 / span 6;
    height: 100%;
    @media (max-width: 1024px) {
      grid-column: 1 / -1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 30%;
      display: block;
      border-radius: var(--border-radius);
    }
  }
}