.values {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: 3rem var(--grid-gap);
  padding: 4rem var(--padding);

  .values-intro {
    grid-column: span 4;
  }
  .values__list {
    grid-column: 1 / -1;
    display: flex;
    gap: 1rem;
  }
  .values-value {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid var(--color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    aspect-ratio: 3/4;
    width: 20%;
    flex-grow: 1;
  }
}